<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="arrow-back-outline"  [routerLink]="['/admin']"></ion-icon>CONTACTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label floating>Tipo documento:</ion-label>
        <ion-input type="text" [(ngModel)]="tipoDocumento"></ion-input>
      </ion-item>
  
    <ion-item>
      <ion-label floating>Numero documento:</ion-label>
        <ion-input type="text" [(ngModel)]="numDocumento"></ion-input>
      </ion-item>
    <ion-item>
    <ion-label floating>Nombre:</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
    <ion-label floating>Apellido:</ion-label>
      <ion-input type="text" [(ngModel)]="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Celular:</ion-label>
        <ion-input type="text" [(ngModel)]="celular"></ion-input>
      </ion-item>

    <ion-item>
    <ion-label floating>Correo</ion-label>
      <ion-input type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>
  <ion-item>
    <ion-button (click)="crearContacto()">Crear contacto</ion-button>
  </ion-item>
  </ion-list>


</ion-content>
